@font-face {
    font-family: "Marleigh";
    src: url(../BASEMENT/Fuentetipog/Marleigh.ttf);
}

* {
    font-family: "Marleigh";
    box-sizing: border-box;
    margin: 0px;
}

html {
    background-image: url(../BASEMENT/grunge-wall-texture.jpg);
    height: 100%;
}

.body-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(13, 200px);
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 220px;
    height: 150px;
}

.logodesktop {
    display: none;
}

.nav {
    display: flex;
    background-color: #489E4B;
    border: 2px solid black;
    border-radius: 30px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    /* margin-bottom: 11%; */
}

.nav ul {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
}

.sectionindoor {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-image: url(../BASEMENT/Ilustraciones/fuego-11.png);
    background-color: #489E4B;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #F8FF00 solid;
    margin: 10px 0 10px 0;
}

.indoor {
    text-decoration: none;
    text-align: center;
}

.indoor h2 {
    padding-top: 75px;
    font-size: 25px;
}

.sectionclot {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
    margin: 10px 0 10px 0;
    background-image: url(../BASEMENT/Ilustraciones/remera-09.png);
    background-color: #489E4B;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #F8FF00 solid;

}

.clot {
    text-decoration: none;
    text-align: center;
}

.clot h2 {
    padding-top: 75px;
    font-size: 25px;
}

.aside {
    grid-column: 2 / 3;
    grid-row: 7 / 15;
    align-items: center;
    background-color: rgba(173, 24, 24, 0.65);
    /* margin: 0 0 75% 0; */
}

.oferta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #489E4B;
    text-shadow: 5px 5px 3px #F8FF00;
    height: 100px;
}

.productos {
    display: flex;
    flex-flow: column;
    line-height: 90px;
}


.productos__catalogo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.productos h2 {
    text-align: center;
}

.productos__catalogo img {
    width: 100px;
    height: 100px;
}

.productos__catalogo p {
    font-size: 45px;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 100 / auto;
    background-color: black;
    color: #F8FF00;
}

.fotitem {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    line-height: 50px;
    height: 100%;
    padding: 0;
}

.fotitem ul {
    list-style: none;
    padding: 0;
}

/* UBICACION */

.ubicanos-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(12, 200px);
}

.aside-ubicanos {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
    margin: 20px;
}

.secubicanos {
    grid-column: 1 / 4;
    grid-row: 6 / 10;
}

.aside-ubicanos iframe {
    width: 100%;
}

.aside-ubicanos h2 {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    background-color: #489E4B;
    font-size: 32px;
    border: #F8FF00 2px solid;
    border-radius: 40px;
    padding: 5px 0px 0px 5px;
}

.howtotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: #489E4B;
    text-shadow: 5px 5px 5px #F8FF00;
    margin: 10px;
    height: auto;
}

.howto {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    background: #489E4B;
    border: black 3px solid;
    border-radius: 30px;
}

.howto h2 {
    margin: 10px;
}

.howto ol {
    margin: 10px;
    font-size: 20px;
    line-height: 40px;
}


/* CONTACTANOS */

.contact-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(4, 200px);
}

.contactsec {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: #489E4B;
    border: 2px #F8FF00 solid;
    margin: 100px 50px 150px 50px;
}

.contactsec h2 {
    text-align: center;
}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* vestidor */

.clot-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(22, 200px);
}

.productos-vestidor {
    grid-column: 1 / 4;
    grid-row: 3 / 10;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos-vestidor2 {
    grid-column: 1 / 4;
    grid-row: 10 / 17;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos-vestidor3 {
    grid-column: 1 / 4;
    grid-row: 17 / 24;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos__catalogo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.productos h3 {
    text-align: center;
}

.productos__catalogo img {
    width: 100px;
    height: 100px;
}

.productos__catalogo p {
    font-size: 45px;
}

/* INDOOR */

.indoor-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(6, 200px);
}

.indoor1,
.indoor2,
.indoor3 {
    margin: 5%;
    background-image: linear-gradient(45deg, #489E4B 30%, #F8FF00 100%);
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.indoor1 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.indoor2 {
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}

.indoor3 {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
}

.indoor1 img,
.indoor2 img,
.indoor3 img {
    width: 65%;
    height: 100%;
}

.container {
    height: 100%;
    line-height: 23px;
}

.indoor1 ul,
.indoor2 ul,
.indoor3 ul {
    font-size: 17px;
    padding-left: 20px;
}

.indoor1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.indoor2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.indoor3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

/* KEYFRAME DE NAV */
@keyframes efecto{
    0%{background-image: linear-gradient(75deg, #489e4b 10%, #f8ff00 45%);}
    25%{background-image: linear-gradient(75deg, #489e4b 25%, #f8ff00 65%);}
    50%{background-image: linear-gradient(75deg, #489e4b 50%, #f8ff00 75%);}
    75%{background-image: linear-gradient(75deg, #489e4b 70%, #f8ff00 100%);}
}

@media screen and (min-width: 1024px) {

    .body-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(10, 300px);
    }

    .logo {
        display: none;
    }

    .logodesktop {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: absolute;
    }

    .logodesktop img {
        width: 170px;
        height: 120px;
        padding: 15px;
    }

    /* LINEAR GRADIENTE DE KEYFRAME*/
    .nav {
        border-radius: 30px;
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        animation: efecto 5s ease-in 1s infinite;
    }

    .nav ul {
        align-items: center;
        padding: 10px 50px 0 300px;
        font-size: 30px;
    }


    .nav ul li {
        font-size: 30px;
    }

    /* TRANSFORM SCALE */
    .nav ul li:hover {
        transform: scale(1.5, 1.5);
    }

    .sectionindoor {
        grid-column: 2 / 4;
        grid-row: 3 / 7;
        margin: 60px;

    }

    /* SkewY*/
    .sectionindoor:hover {
        transform: skewY(370deg);
    }

    .indoor h2 {
        padding-top: 150px;
        font-size: 45px;
    }

    .sectionclot {
        grid-column: 4 / 6;
        grid-row: 3 / 7;
        margin: 60px;
    }

    /* SkewY*/
    .sectionclot:hover {
        transform: skewY(170deg);
    }

    .clot h2 {
        padding-top: 150px;
        font-size: 45px;
    }

    .aside {
        grid-column: 2 / 6;
        grid-row: 7 / 17;
        margin-bottom: 16px;
    }

    .aside h1 {
        font-size: 80px;
    }

    .productos {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .productos h1 {
        display: flex;
        background-color: #489E4B;
        justify-content: center;
        align-items: center;
        width: 100px;
    }

    .productos__catalogo {
        background: #489E4B;
        border: 1px #F8FF00 solid;
    }

    .productos__catalogo img {
        margin: 12px;
        width: 300px;
        height: 300px;
        border: 3px #F8FF00 solid;
    }

    .productos__catalogo p {
        font-size: 25px;
    }

    .productos__catalogo input {
        margin: 5px;
        font-size: 20px;
    }

    .footer {
        grid-column: 1 / 7;
    }

    /* CONTACTANOS */

    .contact-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(3, 200px);
    }


    .contactsec {
        grid-column: 2 / 6;
        grid-row: 3 / 6;
    }

    /* FOCUS */

    .contactform input:focus {
        background-color: black;
        color: #F8FF00;
    }

    .contactform textarea:focus {
        background-color: black;
        color: #F8FF00;
    }

    /* UBICACION */

    .ubicanos-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(10, 200px);
    }


    .aside-ubicanos {
        grid-column: 2 / 6;
        grid-row: 3 / 6;
        margin: 0px;
    }

    .aside-ubicanos iframe {
        height: 100%;
    }

    .secubicanos {
        grid-column: 1 / 7;
        grid-row: 7 / 10;
    }


    /* INDOOR */

    .indoor-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(6, 200px);
    }


    .indoor1 {
        grid-column: 1 / 4;
        grid-row: 3 / 6;
    }

    .indoor2 {
        grid-column: 4 / 7;
        grid-row: 3 / 6;
    }

    .indoor3 {
        grid-column: 2 / 6;
        grid-row: 6 / 9;
    }

    /* VESTIDOR */

    .clot-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 130px 40px repeat(5, 200px);
    }


    .productos-vestidor {
        grid-column: 1 / 7;
        grid-row: 3 / 7;
        display: flex;
    }

    .productos__catalogo img {
        width: 100%;
        height: 100%;
    }

    .productos-vestidor2 {
        grid-column: 1 / 7;
        grid-row: 7 / 11;
        display: flex;
    }

    .productos-vestidor3 {
        display: flex;
        grid-column: 1 / 7;
        grid-row: 11 / 15;
    }

    .productos-vestidor h1,
    .productos-vestidor2 h1,
    .productos-vestidor3 h1 {
        display: flex;
        align-items: center;
    }

}