@font-face {
    font-family: "Marleigh";
    src: url(../BASEMENT/Fuentetipog/Marleigh.ttf);
}

* {
    font-family: "Marleigh";
    box-sizing: border-box;
    margin: 0px;
}

html {
    background-image: url(../BASEMENT/grunge-wall-texture.jpg);
    height: 100%;
}

.body-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(13, 200px);
}

.header {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 220px;
    height: 150px;
}

.logodesktop {
    display: none;
}

.nav {
    display: flex;
    background-color: #489E4B;
    border: 2px solid black;
    border-radius: 30px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    /* margin-bottom: 11%; */
}

.nav ul {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}

.nav ul li a {
    text-decoration: none;
}

.sectionindoor {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-image: url(../BASEMENT/Ilustraciones/fuego-11.png);
    background-color: #489E4B;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #F8FF00 solid;
    margin: 10px 0 10px 0;
}

.indoor {
    text-decoration: none;
    text-align: center;
}

.indoor h2 {
    padding-top: 75px;
    font-size: 25px;
}

.sectionclot {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
    margin: 10px 0 10px 0;
    background-image: url(../BASEMENT/Ilustraciones/remera-09.png);
    background-color: #489E4B;
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px #F8FF00 solid;

}

.clot {
    text-decoration: none;
    text-align: center;
}

.clot h2 {
    padding-top: 75px;
    font-size: 25px;
}

.aside {
    grid-column: 2 / 3;
    grid-row: 7 / 15;
    align-items: center;
    background-color: rgba(173, 24, 24, 0.65);
    /* margin: 0 0 75% 0; */
}

.oferta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #489E4B;
    text-shadow: 5px 5px 3px #F8FF00;
    height: 100px;
}

.productos {
    display: flex;
    flex-flow: column;
    line-height: 90px;
}


.productos__catalogo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.productos h2 {
    text-align: center;
}

.productos__catalogo img {
    width: 100px;
    height: 100px;
}

.productos__catalogo p {
    font-size: 45px;
}

.footer {
    grid-column: 1 / 4;
    grid-row: 100 / auto;
    background-color: black;
    color: #F8FF00;
}

.fotitem {
    display: flex;
    flex-flow: column;
    font-size: 20px;
    line-height: 50px;
    height: 100%;
    padding: 0;
}

.fotitem ul {
    list-style: none;
    padding: 0;
}

/* CONTACTANOS */

.contact-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(4, 200px);
}

.contactsec {
    grid-column: 1 / 4;
    grid-row: 3 / 6;
    background-color: #489E4B;
    border: 2px #F8FF00 solid;
    margin: 100px 50px 150px 50px;
}

.contactsec h2 {
    text-align: center;
}

.contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* vestidor */

.clot-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(22, 200px);
}

.productos-vestidor {
    grid-column: 1 / 4;
    grid-row: 3 / 10;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos-vestidor2 {
    grid-column: 1 / 4;
    grid-row: 10 / 17;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos-vestidor3 {
    grid-column: 1 / 4;
    grid-row: 17 / 24;
    line-height: 90px;
    background-color: #489E4B;
    margin: 45px;
    border: 5px #F8FF00 ridge;
}

.productos__catalogo {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.productos h3 {
    text-align: center;
}

.productos__catalogo img {
    width: 100px;
    height: 100px;
}

.productos__catalogo p {
    font-size: 45px;
}

/* INDOOR */

.indoor-container {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 40px repeat(6, 200px);
}

.indoor1, .indoor2, .indoor3 {
    margin: 5%;
    background-image: linear-gradient(45deg, #489E4B 30%, #F8FF00 100%);
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.indoor1 {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.indoor2{
    grid-column: 1 / 4;
    grid-row: 5 / 7;
}

.indoor3 {
    grid-column: 1 / 4;
    grid-row: 7 / 9;
}

.indoor1 img, .indoor2 img, .indoor3 img{   
    width: 65%;
    height: 100%;
}

.container {
    height: 100%;
    line-height: 23px;
}

.indoor1 ul, .indoor2 ul, .indoor3 ul{
    font-size: 17px;
    padding-left: 20px;
}

.indoor1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.indoor2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}
.indoor3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}






